body {
  margin: 0;
  background: #111;
  color: white;
  font-family: sans-serif;
  text-align: center;
}

.app {
  padding-top: 50px;
}

.setup,
.session {
  margin-top: 80px;
}

input {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 220px;
  background: #222;
  color: white;
  border: none;
}

button {
  padding: 10px 20px;
  cursor: pointer;
  background: white;
  border: none;
}

h1 {
  font-size: 70px;
}